<template>
<h1>PERPUSTAKAAN</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 rounded shadow">
                    <div class="card-body">
                        <h4>DATA BUKU</h4>
                        <hr>
                        <router-link :to="{name: 'buku.create'}" class="btn btn-md btn-success">TAMBAH BUKU</router-link>

                        <table class="table table-striped table-bordered mt-4">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">JUDUL</th>
                                    <th scope="col">SAMPUL</th>
                                    <th scope="col">OPTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(buku, index) in bukus" :key="index">
                                    <td>{{ buku.judul }}</td>
                                    <td>{{ buku.sampul }}</td>
                                    <td class="text-center">
                                        <router-link :to="{name: 'buku.edit', params:{id: buku.id }}" class="btn btn-sm btn-primary mr-1">EDIT</router-link>
                                        <button class="btn btn-sm btn-danger ml-1">DELETE</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { onMounted, ref } from 'vue'

export default {
   setup() {
        //reactive state
        let bukus = ref([])
        //mounted
        onMounted(() => {
            //get API from Laravel Backend
            axios.get('http://localhost:8000/api/buku')
            .then(response => {              
              //assign state posts with response data
              bukus.value = response.data
            }).catch(error => {
                console.log(error.response.data)
            })
        })
        //return
        return {
            bukus
        }
    }
}
</script>
<style>
    body{
        background: lightgray;
    }
</style>